// text colors
$primary-color: #ffffff;
$accent-color: #ff1f1f;
$placeholder-color: rgba(60, 60, 67, 0.6);
$color-hover: #d61c1c;

// bg colors
$body-bg: #131212;
$light-bg: #ffffff;
$dark-bg: #fc3232;
$secondary-dark-bg: #ff1f1f;
$hover-color: #ff1f1fb6;

// border color
$accent-border: #f82225;

// fonts
$main-font: 'Inter', sans-serif;

// transition
$transition: cubic-bezier(0.4, 0, 0.2, 1);
