<section class="advantages">
    <div class="container">
        <!-- advantages list -->
      <ul class="advantages__list">
        <li class="advantages__item">
          <svg class="advantages__icon">
            <use href="./images/sprite.svg#gift"></use>
          </svg>
          <p class="advantages__title">Бесплатный тест</p>
          <p class="advantages__content">
            7 дней бесплатного тестового просмотра
          </p>
        </li>
        <li class="advantages__item">
          <svg class="advantages__icon">
            <use href="./images/sprite.svg#devices"></use>
          </svg>
          <p class="advantages__title">5 устройств = 1 подписка</p>
          <p class="advantages__content">
            Подключайте 5 устройств в одной подписке
          </p>
        </li>
        <li class="advantages__item">
          <svg class="advantages__icon">
            <use href="./images/sprite.svg#tv"></use>
          </svg>
          <p class="advantages__title">Архив трансляций</p>
          <p class="advantages__content">Смотрите 7 дней телеэфира в записи</p>
        </li>
        <li class="advantages__item">
          <svg class="advantages__icon">
            <use href="./images/sprite.svg#earth"></use>
          </svg>
          <p class="advantages__title">Без привязки к месту</p>
          <p class="advantages__content">
            Смотрите любимые фильмы и передачи в любой точке мира
          </p>
        </li>
      </ul>
    </div>
  </section>