<section class="channels">
    <div class="container channels__container">
        <!-- title -->
        <h2 class="channels__title">ТВ - каналы</h2>
        <p class="channels__descr">
            Национальные, познавательные, детские, кино, спортивные, новостные и
            многие другие телеканалы
        </p>
        <!-- filter buttons -->
        <div class="channels__filter-btn">
            <label class="channels__filter-btn-label">
                <input class="channels__filter-btn-input" type="radio" name="radio-group" value="popular" />
                <span class="channels__filter-btn-text">Популярные</span>
            </label>

            <label class="channels__filter-btn-label">
                <input class="channels__filter-btn-input" type="radio" name="radio-group" value="national" />

                <span class="channels__filter-btn-text">Национальные</span>
            </label>

            <label class="channels__filter-btn-label">
                <input class="channels__filter-btn-input" type="radio" name="radio-group" value="educational" />

                <span class="channels__filter-btn-text">Познавательные</span>
            </label>

            <label class="channels__filter-btn-label">
                <input class="channels__filter-btn-input" type="radio" name="radio-group" value="cinema" />

                <span class="channels__filter-btn-text">Кино</span>
            </label>

            <label class="channels__filter-btn-label">
                <input class="channels__filter-btn-input" type="radio" name="radio-group" value="sport" />

                <span class="channels__filter-btn-text">Спорт</span>
            </label>

            <label class="channels__filter-btn-label">
                <input class="channels__filter-btn-input" type="radio" name="radio-group" value="kids" />

                <span class="channels__filter-btn-text">Детские</span>
            </label>

            <label class="channels__filter-btn-label">
                <input class="channels__filter-btn-input" type="radio" name="radio-group" value="music" />

                <span class="channels__filter-btn-text">Музыкальные</span>
            </label>

            <label class="channels__filter-btn-label">
                <input class="channels__filter-btn-input" type="radio" name="radio-group" value="news" />

                <span class="channels__filter-btn-text">Новостные</span>
            </label>
        </div>
        <!-- channels list -->
        <ul class="channels__list">
            <li class="channels__list-item channels__list-item--red">
                <a class="channels__list-link" href="#">
                    <picture>
                        <source srcset="./images/channels/one-plus-one/mobile-one-plus-one@1x.png 1x,
            ./images/channels/one-plus-one/mobile-one-plus-one@2x.png 2x" media="(min-width:375px)" />
                        <source srcset="./images/channels/one-plus-one/tablet-one-plus-one@1x.png 1x,
            ./images/channels/one-plus-one/tablet-one-plus-one@2x.png 2x" media="(min-width:768px)" />
                        <source srcset="./images/channels/one-plus-one/tablet-md-one-plus-one@1x.png 1x,
            ./images/channels/one-plus-one/tablet-md-one-plus-one@2x.png 2x" media="(min-width:990px)" />
                        <source srcset="./images/channels/one-plus-one/desktop-one-plus-one@1x.png 1x,
            ./images/channels/one-plus-one/desktop-one-plus-one@2x.png 2x" media="(min-width:1440px)" />
                        <source srcset="./images/channels/one-plus-one/desktop-xl-one-plus-one@1x.png 1x,
            ./images/channels/one-plus-one/desktop-xl-one-plus-one@2x.png 2x" media="(min-width:1920px)" />
                        <img class="channels__list-img" srcset="./images/channels/one-plus-one/channel-one-plus-one@1x.png,
            ./images/channels/one-plus-one/channel-one-plus-one@2x.png"
                            src="./images/channels/one-plus-one/channel-one-plus-one@1x.png"
                            alt="chanel one plus one" />
                    </picture>

                </a>
            </li>
            <li class="channels__list-item channels__list-item--blue">
                <a class="channels__list-link" href="#">
                    <picture>
                        <source srcset="./images/channels/zoom/mobile-zoom@1x.png 1x,
            ./images/channels/zoom/mobile-zoom@2x.png 2x" media="(min-width:375px)" />
                        <source srcset="./images/channels/zoom/tablet-zoom@1x.png 1x,
            ./images/channels/zoom/tablet-zoom@2x.png 2x" media="(min-width:768px)" />
                        <source srcset="./images/channels/zoom/tablet-md-zoom@1x.png 1x,
            ./images/channels/zoom/tablet-md-zoom@2x.png 2x" media="(min-width:990px)" />
                        <source srcset="./images/channels/zoom/desktop-zoom@1x.png 1x,
            ./images/channels/zoom/desktop-zoom@2x.png 2x" media="(min-width:1440px)" />
                        <source srcset="./images/channels/zoom/desktop-xl-zoom@1x.png 1x,
            ./images/channels/zoom/desktop-xl-zoom@2x.png 2x" media="(min-width:1920px)" />
                        <img class="channels__list-img" srcset="./images/channels/zoom/channel-zoom@1x.png,
            ./images/channels/zoom/channel-zoom@2x.png" src="./images/channels/zoom/channel-zoom@1x.png"
                            alt="chanel zoom" />
                    </picture>
                </a>
            </li>
            <li class="channels__list-item channels__list-item--green">
                <a class="channels__list-link" href="#">
                    <picture>
                        <source srcset="./images/channels/Ukraine/mobile-ukraine@1x.png 1x,
            ./images/channels/Ukraine/mobile-ukraine@2x.png 2x" media="(min-width:375px)" />
                        <source srcset="./images/channels/Ukraine/tablet-ukraine@1x.png 1x,
            ./images/channels/Ukraine/tablet-ukraine@2x.png 2x" media="(min-width:768px)" />
                        <source srcset="./images/channels/Ukraine/tablet-md-ukraine@1x.png 1x,
            ./images/channels/Ukraine/tablet-md-ukraine@2x.png 2x" media="(min-width:990px)" />
                        <source srcset="./images/channels/Ukraine/desktop-ukraine@1x.png 1x,
            ./images/channels/Ukraine/desktop-ukraine@2x.png 2x" media="(min-width:1440px)" />
                        <source srcset="./images/channels/Ukraine/desktop-xl-ukraine@1x.png 1x,
            ./images/channels/Ukraine/desktop-xl-ukraine@2x.png 2x" media="(min-width:1920px)" />
                        <img class="channels__list-img" srcset="./images/channels/Ukraine/channel-ukraine@1x.png,
            ./images/channels/Ukraine/channel-ukraine@2x.png" src="./images/channels/Ukraine/channel-ukraine@1x.png"
                            alt="chanel Ukraine" />
                    </picture>
                </a>
            </li>
            <li class="channels__list-item channels__list-item--violet sm-visible">
                <a class="channels__list-link" href="#">
                    <picture>
                        <source srcset="./images/channels/enter/tablet-md-enter@1x.png 1x,
                        ./images/channels/enter/tablet-md-enter@2x.png 2x" media="(min-width:990px)" />
                        <source srcset="./images/channels/enter/desktop-enter@1x.png 1x,
                        ./images/channels/enter/desktop-enter@2x.png 2x" media="(min-width:1440px)" />
                        <source srcset="./images/channels/enter/desktop-xl-enter@1x.png 1x,
                        ./images/channels/enter/desktop-xl-enter@2x.png 2x" media="(min-width:1920px)" />
                        <img class="channels__list-img" srcset="./images/channels/enter/tablet-enter@1x.png,
                        ./images/channels/enter/tablet-enter@2x.png" src="./images/channels/enter/tablet-enter@1x.png"
                            alt="chanel enter" />
                    </picture>
                </a>
            </li>
            <li class="channels__list-item channels__list-item--orange md-visible">
                <a class="channels__list-link" href="#">
                    <picture>
                        <source srcset="./images/channels/tet/desktop-tet@1x.png 1x,
                                    ./images/channels/tet/desktop-tet@2x.png 2x" media="(min-width:1440px)" />
                        <source srcset="./images/channels/tet/desktop-xl-tet@1x.png 1x,
                                    ./images/channels/tet/desktop-xl-tet@2x.png 2x" media="(min-width:1920px)" />
                        <img class="channels__list-img" srcset="./images/channels/tet/tablet-md-tet@1x.png,
                                    ./images/channels/tet/tablet-md-tet@2x.png"
                            src="./images/channels/tet/tablet-md-tet@1x.png" alt="chanel tet" />
                    </picture>
                </a>
            </li>
            <li class="channels__list-item channels__list-item--blue">
                <a class="channels__list-link" href="#">
                    <picture>
                        <source srcset="./images/channels/inter/mobile-inter@1x.png 1x,
            ./images/channels/inter/mobile-inter@2x.png 2x" media="(min-width:375px)" />
                        <source srcset="./images/channels/inter/tablet-inter@1x.png 1x,
            ./images/channels/inter/tablet-inter@2x.png 2x" media="(min-width:768px)" />
                        <source srcset="./images/channels/inter/tablet-md-inter@1x.png 1x,
            ./images/channels/inter/tablet-md-inter@2x.png 2x" media="(min-width:990px)" />
                        <source srcset="./images/channels/inter/desktop-inter@1x.png 1x,
            ./images/channels/inter/desktop-inter@2x.png 2x" media="(min-width:1440px)" />
                        <source srcset="./images/channels/inter/desktop-xl-inter@1x.png 1x,
            ./images/channels/inter/desktop-xl-inter@2x.png 2x" media="(min-width:1920px)" />
                        <img class="channels__list-img" srcset="./images/channels/inter/channel-inter@1x.png,
            ./images/channels/inter/channel-inter@2x.png" src="./images/channels/inter/channel-inter@1x.png"
                            alt="chanel inter" />
                    </picture>
                </a>
            </li>
            <li class="channels__list-item channels__list-item--green">
                <a class="channels__list-link" href="#">
                    <picture>
                        <source srcset="./images/channels/new/mobile-new-chanel@1x.png 1x,
                                    ./images/channels/new/mobile-new-chanel@2x.png 2x" media="(min-width:375px)" />
                        <source srcset="./images/channels/new/tablet-new-chanel@1x.png 1x,
                                    ./images/channels/new/tablet-new-chanel@2x.png 2x" media="(min-width:768px)" />
                        <source srcset="./images/channels/new/tablet-md-new-chanel@1x.png 1x,
                                    ./images/channels/new/tablet-md-new-chanel@2x.png 2x" media="(min-width:990px)" />
                        <source srcset="./images/channels/new/desktop-new-chanel@1x.png 1x,
                                    ./images/channels/new/desktop-new-chanel@2x.png 2x" media="(min-width:1440px)" />
                        <source srcset="./images/channels/new/desktop-xl-new-chanel@1x.png 1x,
                                    ./images/channels/new/desktop-xl-new-chanel@2x.png 2x"
                            media="(min-width:1920px)" />
                        <img class="channels__list-img" srcset="./images/channels/new/channel-new-chanel@1x.png,
                                    ./images/channels/new/channel-new-chanel@2x.png"
                            src="./images/channels/new/channel-new-chanel@1x.png" alt="new chanel" />
                    </picture>
                </a>
            </li>
            <li class="channels__list-item channels__list-item--violet">
                <a class="channels__list-link" href="#">
                    <picture>
                        <source srcset="./images/channels/ictv/mobile-ictv@1x.png 1x,
            ./images/channels/ictv/mobile-ictv@2x.png 2x" media="(min-width:375px)" />
                        <source srcset="./images/channels/ictv/tablet-ictv@1x.png 1x,
            ./images/channels/ictv/tablet-ictv@2x.png 2x" media="(min-width:768px)" />
                        <source srcset="./images/channels/ictv/tablet-md-ictv@1x.png 1x,
            ./images/channels/ictv/tablet-md-ictv@2x.png 2x" media="(min-width:990px)" />
                        <source srcset="./images/channels/ictv/desktop-ictv@1x.png 1x,
            ./images/channels/ictv/desktop-ictv@2x.png 2x" media="(min-width:1440px)" />
                        <source srcset="./images/channels/ictv/desktop-xl-ictv@1x.png 1x,
            ./images/channels/ictv/desktop-xl-ictv@2x.png 2x" media="(min-width:1920px)" />
                        <img class="channels__list-img" srcset="./images/channels/ictv/channel-ictv@1x.png,
            ./images/channels/ictv/channel-ictv@2x.png" src="./images/channels/ictv/channel-ictv@1x.png"
                            alt="chanel ictv" />
                    </picture>
                </a>
            </li>
            <li class="channels__list-item channels__list-item--green sm-visible">
                <a class="channels__list-link" href="#">
                    <picture>
                        <source srcset="./images/channels/m1/tablet-md-m1@1x.png 1x,
            ./images/channels/m1/tablet-md-m1@2x.png 2x" media="(min-width:990px)" />
                        <source srcset="./images/channels/m1/desktop-m1@1x.png 1x,
            ./images/channels/m1/desktop-m1@2x.png 2x" media="(min-width:1440px)" />
                        <source srcset="./images/channels/m1/desktop-xl-m1@1x.png 1x,
            ./images/channels/m1/desktop-xl-m1@2x.png 2x" media="(min-width:1920px)" />
                        <img class="channels__list-img" srcset="./images/channels/m1/tablet-m1@1x.png,
            ./images/channels/m1/tablet-m1@2x.png" src="./images/channels/m1/tablet-m1@1x.png" alt="chanel m1" />
                    </picture>
                </a>
            </li>
            <li class="channels__list-item channels__list-item--violet md-visible">
                <a class="channels__list-link" href="#">
                    <picture>
                        <source srcset="./images/channels/two-plus-two/desktop-two-plus-two@1x.png 1x,
            ./images/channels/two-plus-two/desktop-two-plus-two@2x.png 2x" media="(min-width:1440px)" />
                        <source srcset="./images/channels/two-plus-two/desktop-xl-two-plus-two@1x.png 1x,
            ./images/channels/two-plus-two/desktop-xl-two-plus-two@2x.png 2x" media="(min-width:1920px)" />
                        <img class="channels__list-img" srcset="./images/channels/two-plus-two/tablet-md-two-plus-two@1x.png,
            ./images/channels/two-plus-two/tablet-md-two-plus-two@2x.png"
                            src="./images/channels/two-plus-two/tablet-md-two-plus-two@1x.png"
                            alt="chanel two plus two" />
                    </picture>
                </a>
            </li>
        </ul>
        <!-- button more -->
        <button class="channels__btn-more" type="button">
            Показать все
            <svg class="channels__btn-more-icon" width="21px" height="21px">
                <use href="./images/sprite.svg#arrow-down"></use>
            </svg>
        </button>
        <div class="channels__bgn">
            <img class="channels__bgn-img" src="./images/bacground/web.png" alt="web">
        </div>
    </div>
</section>