<footer class="footer">
    <div class="container">
        <div class="footer__wrapper footer__wrapper--top">
            <div class="footer__meta">
                <ul class="footer__meta-list">
                    <li class="footer__meta-item">
                        <a class="footer__meta-link" href="https://www.ottclub.tv/ua/about/">О нас</a>
                    </li>
                    <li class="footer__meta-item">
                        <a class="footer__meta-link" href="https://www.ottclub.tv/ua/agreement/">Пользовательское
                            соглашение</a>
                    </li>
                    <li class="footer__meta-item">
                        <a class="footer__meta-link" href="https://www.ottclub.tv/ua/privacy_policy/">Политика
                            конфиденциальности</a>
                    </li>
                    <li class="footer__meta-item">
                        <a class="footer__meta-link" href="https://www.ottclub.tv/ua/providers/">ТВ-Каналам</a>
                    </li>
                </ul>
                <ul class="footer__meta-list">
                    <li class="footer__meta-item">
                        <a class="footer__meta-link" href="https://www.ottclub.tv/ua/speedtest/">Проверка скорости</a>
                    </li>
                    <li class="footer__meta-item">
                        <a class="footer__meta-link" href="https://www.ottclub.tv/ua/term/">Правила оформления
                            подписки</a>
                    </li>
                </ul>
            </div>
            <div class="footer__contacts">
                <div class="footer__contacts-wrapper">
                    <p class="footer__contacts-title">Помощь</p>
                    <a class="footer__contacts-link" href="tel:+442045772169">+442045772169 (Англия)</a>
                    <a class="footer__contacts-link" href="tel:+420255708953">+420255708953 (Европа)</a>
                    <a class="footer__contacts-link" href="tel:+97233751723">+97233751723 (Израиль)</a>
                    <a class="footer__contacts-link" href="mailto:support@ottclub.cc">support@ottclub.cc</a>
                </div>
                <div class="footer__support">
                    <p class="footer__support-title">Чат-поддержка</p>
                    <a class="footer__support-link" href="">
                        <svg class="footer__support-icon" width="31px" height="31px">
                            <use href="./images/sprite.svg#whatsapp"></use>
                        </svg>
                    </a>
                    <a class="footer__support-link" href="">
                        <svg class="footer__support-icon" width="31px" height="31px">
                            <use href="./images/sprite.svg#telegram-support"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer__wrapper footer__wrapper--bottom">
            <ul class="footer__payment-list">
                <li class="footer__payment-item">
                    <img class="footer__payment-img" src="./images/footer/visa.png" alt="payment visa" />
                </li>
                <li class="footer__payment-item">
                    <img class="footer__payment-img" src="./images/footer/master-card.png" alt="payment master-card" />
                </li>
                <li class="footer__payment-item">
                    <img class="footer__payment-img" src="./images/footer/free-kassa.png" alt="payment free-cassa" />
                </li>
                <li class="footer__payment-item">
                    <img class="footer__payment-img" src="./images/footer/sera.png" alt="payment sera" />
                </li>
                <li class="footer__payment-item">
                    <img class="footer__payment-img" src="./images/footer/sepa.png" alt="payment sepa" />
                </li>
            </ul>
            <div class="footer__company">
                <p class="footer__company-text">© 2021-2022 COMPANY NAME</p>
                <p class="footer__company-text">Company number 1221514</p>
            </div>
        </div>
    </div>
</footer>