<header class="header">
    <div class="container">
      <div class="header__wrapper">
        <!-- header logo -->
        <a class="logo" href="#"></a>
        <div class="header-nav">
          <!-- header navigation media-->
          <ul class="header-nav__list">
            <li class="header-nav__item">
              <a
                class="header-nav__link"
                href="https://www.facebook.com/official.ottclub/"
              >
                <svg class="header-nav__icon" width="24px" height="24px">
                  <use href="./images/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="header-nav__item">
              <a class="header-nav__link" href="https://t.me/ottclubnews">
                <svg class="header-nav__icon" width="24px" height="24px">
                  <use href="./images/sprite.svg#telegram"></use>
                </svg>
              </a>
            </li>
          </ul>
          <!-- header auth -->
          <div class="header-nav__auth">
            <button class="header-nav__auth-register" type="button">Регистрация</button>
            <button class="header-nav__auth-login" type="button">Войти</button>
          </div>
        </div>
      </div>
    </div>
  </header>