<section class="pricing">
    <div class="container">
      <div class="pricing__wrapper">
        <div class="pricing__inner">
          <div class="pricing__inner-price">
            <p class="pricing__inner-currency">
              <span class="pricing__inner-value">1€</span> / месяц
            </p>
            <p class="pricing__inner-descr">
              Покупая подписку более,<br />
              чем на 6 месяцев
            </p>
          </div>
          <ul class="pricing__inner-list">
            <li class="pricing__inner-item">
              <p class="pricing__inner-text">Более 270 каналов</p>
            </li>
            <li class="pricing__inner-item">
              <p class="pricing__inner-text">127 FullHD каналов</p>
            </li>
            <li class="pricing__inner-item">
              <p class="pricing__inner-text">Режим Ultra TV Sport</p>
            </li>
            <li class="pricing__inner-item">
              <p class="pricing__inner-text">Архив каналов</p>
            </li>
            <li class="pricing__inner-item">
              <p class="pricing__inner-text">5 устройств</p>
            </li>
          </ul>
        </div>
        <form class="pricing__form">
          <label class="pricing__form-label">
            <input
            class="pricing__form-input"
              type="email"
              placeholder="Email"
              required
            />
          </label>
          <button class="pricing__form-btn" type="submit">
            Подключить тариф
          </button>
        </form>
        <div class="pricing__eye-wrapper">
          <img
            class="pricing__eye-img"
            src="./images/eye.png"
            alt="eye"
          />
        </div>
      </div>
    </div>
  </section>