<section class="questions">
    <div class="container">
        <h2 class="questions__title">Популярные вопросы</h2>
        <div class="questions__wrapper">
            <!-- details -->
            <details class="questions__details">
                <summary class="questions__descr">
                    <p class="questions__descr-title">
                        Как подключить подписку OTTCLUB или продлить ее?
                    </p>
                    <svg class="questions__descr-icon">
                        <use href="./images/sprite.svg#arrow-down"></use>
                    </svg>
                </summary>
                <p class="questions__content">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere quis recusandae porro soluta quam
                    exercitationem animi aliquam voluptatibus error vitae veniam non quibusdam id ex ut similique
                    pariatur, a placeat?
                </p>
            </details>

            <details class="questions__details">
                <summary class="questions__descr">
                    <p class="questions__descr-title">
                        Как смотреть на телевизоре Samsung?
                    </p>
                    <svg class="questions__descr-icon">
                        <use href="./images/sprite.svg#arrow-down"></use>
                    </svg>
                </summary>
                <p class="questions__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda
                    placeat suscipit commodi minus est, laboriosam facere voluptas consequatur corporis! Delectus dolore
                    eveniet, nulla perspiciatis consequuntur aliquid dolorem. Reiciendis, voluptatem earum!</p>
            </details>

            <details class="questions__details">
                <summary class="questions__descr">
                    <p class="questions__descr-title">
                        Как смотреть одновременно на разных устройствах?
                    </p>
                    <svg class="questions__descr-icon">
                        <use href="./images/sprite.svg#arrow-down"></use>
                    </svg>
                </summary>
                <p class="questions__content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate nisi optio fugiat delectus
                    saepe voluptas atque beatae! Ut repudiandae minus asperiores quo, eaque architecto cupiditate animi
                    accusamus, quisquam hic molestiae?
                </p>
            </details>

            <details class="questions__details">
                <summary class="questions__descr">
                    <p class="questions__descr-title">
                        Как посмотреть передачу, которая была в эфире ранее?
                    </p>
                    <svg class="questions__descr-icon">
                        <use href="./images/sprite.svg#arrow-down"></use>
                    </svg>
                </summary>
                <p class="questions__content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto
                    repellendus officiis, aut vero quam laborum molestias numquam hic at minima, blanditiis quae nihil
                    harum neque accusamus qui. Quia, quo quaerat!</p>
            </details>

            <details class="questions__details">
                <summary class="questions__descr">
                    <p class="questions__descr-title">
                        Какая скорость соединения необходима для просмотра каналов?
                    </p>
                    <svg class="questions__descr-icon" width="24" height="24">
                        <use href="./images/sprite.svg#arrow-down"></use>
                    </svg>
                </summary>
                <p class="questions__content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque est nemo corporis sunt earum sit
                    fugiat et totam quia laborum. Unde minus maiores animi sit dignissimos, ipsa repellendus dolore
                    accusantium!
                </p>
            </details>

            <details class="questions__details">
                <summary class="questions__descr">
                    <p class="questions__descr-title">
                        Как работает бесплатный тестовый период?
                    </p>
                    <svg class="questions__descr-icon">
                        <use href="./images/sprite.svg#arrow-down"></use>
                    </svg>
                </summary>
                <p class="questions__content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, quae, numquam totam cumque
                    dolores exercitationem ducimus sequi animi ab aspernatur fugit quidem doloremque ullam provident
                    modi! Neque voluptatem dignissimos eveniet.
                </p>
            </details>
        </div>
    </div>
</section>